@charset "UTF-8";

body {
       height: 100vh;
       width: 100vw;
       background-image: url('/resources/images/home2.jpg');
       background-repeat : no-repeat;
       background-size : cover;
       background-opacity: 0.5;
}
