@charset "UTF-8";
.profile{
	width: 350px; 
	height: 350px; 
	margin: 0 auto;
	position: relative;
}
.profile img{
	width: 100%;
	height: 100%;
}
.profile label{
	position: absolute; 
	right: 0; 
	bottom: -20%; 
	cursor: pointer;
}
.profile #file-profile{
	display: none;
}
.profile i{
	font-size: 4rem;
}