@charset "UTF-8";

#box-register {
	width: 500px;
	padding: 40px 0;
	opacity: 0.9;
	border-radius: 40px;
	text-align: center;
}
.box {
	margin-top: 250px;
	margin-left: 110px;
}
#img-chat {
	filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(73deg) brightness(103%) contrast(103%);
}
#box-chat {
	display: flex;
    justify-content: end;
}
